.layout__main {
  background-image: url("/images/bg-web.jpg");
  background-size: cover;
  background-position: cover;
  background-attachment: fixed;
}

.basic-layout {
  min-height: calc(100vh - 136px);
  background-color: $background-grey-light;
}
