:root {
  --primary: #ff5400;
  --font-light: #fff;
  --font-grey: #778;
  --font-dark: black;
  --border-light: #fff;
  --border-grey-light: #a7a7a7;
  --border-grey: #444;
  --background-light: #fff;
  --background-grey-light: #eee;
  --background-grey: #a7a7a7;
  --background-grey-dark: #363636;
  --background-dark: #151515;
  --background-dark-absolute: #000;
  --success: #69af00;
}

$primary: #ff5400;

$font-light: #fff;
$font-grey: #778;
$font-dark: black;

$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

$success: #69af00;
